@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-pagination {
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	right: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0;
	padding: 10px !important;
	/* background-color: rgba(204, 204, 204, 0.2) !important; */
	border-radius: 12px !important;
	box-shadow: 6px 2px 20px 6px rgba(66, 68, 90, 1);
	backdrop-filter: blur(10px);
}
.swiper-pagination-bullet {
	/* margin: 15px !important; */
    display: flex  !important;
    flex-direction: column  !important;
    justify-content: center  !important;
    align-items: center  !important;
	padding: 5px 10px;
	width: 5rem  !important;;
	height: 5rem  !important;;
	text-align: center  !important;;
	line-height: 30px;
	font-size: 12px;
	color:rgb(144, 195, 253) !important;
	background-color: #37517e !important;
	opacity: 1 !important;
	/* background: transparent !important; */
    font-weight: bold;
	border-radius: 12px !important;
	transform: scale(0.9);
	transition: 0.2s;

    /* box-shadow: 0px 11px 53px 7px rgba(66, 68, 90, 1); */
}
.swiper-pagination-bullet-active {
    /* opacity: 0.6 !important; */
    /* box-shadow: 8px 8px 9px 0px rgba(66, 68, 90, 1); */
	border-radius: 12px !important;
	transform: scale(1.1);
    transition: 0.5s;
	color:#fff;
	background-color: #007aff !important;
    /* scale: 1.1; */
}
.swiper-pagination-bullet:hover{
	background-color: #1a66c1 !important;
	transition: 0.2s;
	transform: scale(1);

}

.swiper-pagination-bullet-active:hover {
	background-color: #007aff !important;
	transform: scale(1.1);


}


.swiper-slide-inner{
	display: flex;
	justify-content: center;
	align-items: center;
}